
<body>

  <nav>
   <div class="logo">
    <h1>vicara</h1>
   </div>
   <div class="menu">
    <ul>
     <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
     <a mat-button routerLink="/downloads" routerLinkActive="active">Downloads</a>
     <a mat-button routerLink="/about" routerLinkActive="active">About</a>
     <a class="buy" href="https://store.vicara.in/">Buy </a>

    </ul>
   </div>
  </nav>



   <div class="bg-image">
      <h1 style="color: white;">About</h1>
     <img src="./assets/images/cover_background.png">
   </div>




   <p>
    Vicara is an Immersive Technology company, pioneering in intuitive &amp; immersive computing platforms. We develop
    technology &amp; Solutions that augment the capability of humans to work with their digital surroundings. Vicara’s
    first product, the Kai, is a testament to this vision. The Kai is a gesture-based Natural User Interface, that
    allows you to communicate with your digital surroundings through simple gestures.
  </p>

  <p>
    Founded in 2017, Vicara has grown to become a leader in immersive hardware. With a team of passionate
    engineers, researchers, designers &amp; creators that are committed to building the future of extended reality,
    there’s no problem that Vicara can not solve.
  </p>


  <img src="./assets/images/app-presentation.png">
 </body>




