

<body>

  <nav>
   <div class="logo">
    <h1>vicara</h1>
   </div>
   <div class="menu">
    <ul>
     <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
     <a mat-button routerLink="/downloads" routerLinkActive="active">Downloads</a>
     <a mat-button routerLink="/about" routerLinkActive="active">About</a>
     <a class="buy" href="https://store.vicara.in/">Buy </a>

    </ul>
   </div>
  </nav>




   <div class="bg-image">
    <h1 style="color: white;">Downloads</h1>
   <p>

    If you’re just getting started with the Kai, you will need both the applications to set the wheels in motion.
    You could take a look at our blog, “Getting Started with Kai”, to know more.

  </p>
     <img src="./assets/images/cover_background.png">
   </div>

  <img src="./assets/images/kai-updater.png">
 </body>




