
<body>

 <nav>
  <div class="logo">
   <h1>vicara</h1>
  </div>
  <div class="menu">
   <ul>
    <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/downloads" routerLinkActive="active">Downloads</a>
    <a mat-button routerLink="/about" routerLinkActive="active">About</a>
    <a class="buy" href="https://store.vicara.in/">Buy </a>

   </ul>
  </div>
 </nav>

  <div class="topleft" style="width: 96vh;">

   <h1>The Future Of Digital Interaction </h1>
    <h1>Is Here.</h1>

   <a mat-button class="b1"  href="https://store.vicara.in/" >Buy Now</a>

   <a mat-button class="b2" >Play Video</a>

  </div>


  <div class="bg-image">
    <img src="./assets/images/mouse.png" id="mouse">
    <img src="./assets/images/cover_background.png" style="height: 96vh;">
  </div>

  <div class="video">
    <h1>Meet Kai</h1>
    <iframe width="720" height="480" src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>

  </div>


  <div class="first">
    <div class="firstleft">
      <h1>Interact</h1>
      <h1>Naturally</h1>
    </div>
    <div class="firstright">
      <img src="./assets/images/kh.png" >
    </div>
  </div>


  <div class="second">
    <div class="secondleft">
      <h1> Incomparable features.</h1>
      <h1>Unparalleled Experience.</h1>
    </div>
    <div class="secondmiddle">
      <img src="./assets/images/white.png" >
    </div>
    <div class="secondright">
      <p>The KAI is an intuitive device capable of tracking the slightest of movements of your wrist and all four fingers to recognize gestures. It then processes these gestures on-board, allowing you to interact with your digital world easily.</p>
    </div>
  </div>


  <div class="motion">
    <h1>Motion & Finger Tracking</h1>
    <p style="color: white;">
      The KAI is an intuitive device capable of tracking the slightest of movements of your wrist and all four
      fingers to recognize gestures. It then processes these gestures on-board, allowing you to interact with your
      digital world easily.
    </p>
    <img src="./assets/images/side-view.png" style=" width: 80vh;">

    <h2>Postion of Kai Finger Tracking Sensors</h2>

    <h2>High Precision & Low Latency</h2>
    <p>
      A powerful combination of sensitivity more than 1mm & latency less than 10ms.
    </p>


  </div>

</body>




